@import url('https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Julius+Sans+One');

body,html{
  padding: 0;
  margin: 0;
  background:#F4F6F7;
  font-family: "Comfortaa";
  font-weight: normal;
  overflow-x: hidden;
}

ul,li{
  list-style: none;
  display: inline;
}

a{
  text-decoration: none;
  color:#3498DB;
}

nav{
  position: relative;
  background:#2E86C1;
  height: 10vh;
}

nav ul,li{
  line-height: 10vh;
  margin:0px  20px;
}

nav ul li a{
  font-size: 1vw;
  color:white;
}

nav ul li a:hover{
  text-decoration: none;
  color: black;
}

nav img{
  position: absolute;
  max-width: 8vw;
  max-height: 8vh;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
}

#topSection{
  position:relative;
  width:100%;
  margin-top:10vh;
  padding:10vh;
  background:linear-gradient(#85C1E9, #1F618D);
}

#topSectionLogo{
  padding-top:10vh;
  position: relative;
  height: 60%;
}

#topSectionLogo img{
  position: relative;
  max-width: 20vw;
  max-height: 30vh;
  left: 52%;
  top: 50%;
  transform: translate(-50%,-50%);
}
#topSectionDownload{
    position: relative;
    padding-bottom: 30px;
}

#topSectionDownload a{
  position: relative;
  left: 43%;
  transform: translateX(-50%);
}

#topSectionDownload p{
  text-align: center;
  font-size: 1.5vw;
}

.title{
  font-size: 3vw;
  padding-bottom: 2vh;
  font-family: "Comfortaa", cursive;
  text-align: center;
  font-weight: normal;
}


#myCarousel{
  padding-top:10vh;
  height:100vh;
  width: 100%;
  background:#F4F6F7;
  position: relative;
}

#myCarousel h1{
  text-align: center;
  font-size: 3vw;
  margin-bottom: 6vh;
}

.carousel-indicators li {
    display: inline-block;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: black;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
    opacity: 0.4;
}


#myCarousel .carousel-inner .item #imageContainer{
  position: relative;
  display: flex;
  justify-content: center;
}

#myCarousel .carousel-inner .item img{
  max-width: 80vw;
  max-height: 50vh;
  padding-bottom: 30px;
}

#myCarousel .carousel-inner .item #appFeaturesDescription{
  text-align: center;
  font-size: 1vw;
  margin: 0;
  padding: 0 20vw;
}

#appFeaturesDescription span{
  font-size: 2vw;
  color:#3498DB
}

#appFeaturesDescription p{
  font-size: 1.2vw;
}


#Instructions{
  position: relative;
  width: 100%;
  /*background: linear-gradient(grey, white, white, white, white, white, white, white, white);*/
  background: white;
  text-align: center;
  padding-bottom: 20px;
  padding-top:10vh;
}

#Instructions>p{
  font-weight:normal;
  font-size:1.4vw;
  text-align:center;
  padding: 10px;
}

.subInstructions #title{
  font-weight: normal;
  color:grey;
  font-size: 2vw;
  padding-bottom: 20px;
}

.subInstructions p{
  font-weight: normal;
  font-size: 1vw;
  text-align: justify;
  padding:20px;
}

.subInstructions p span{
  color:grey;
  font-weight:bold;
  margin-right: 6px;
}


#AboutApp{
  position: relative;
  width: 100%;
  background: #F4F6F7;
  padding-top:10vh;
  padding-bottom: 20px;
  text-align: center;
}

#AboutApp p{
  font-weight:normal;
  font-size:1vw;
  text-align:justify;
}

#AboutUs{
  position: relative;
  width: 100%;
  background: white;
  padding-top:10vh;
  padding-bottom: 20px;
  text-align: center;
}


#AboutUs .grid-container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
#AboutUs .grid-container .grid-item {
  text-align: center;
}

#AboutUs .grid-container .grid-item img{
  border-radius: 50%;
  width: 15vw;
  height: 30vh;
}

#AboutUs .grid-container .grid-item img:hover{
  opacity:0.7;
}

#AboutUs #pictures a{
  position: relative;
  font-weight: normal;
  color: black;
}

#AboutUs #pictures a:hover{
  text-decoration: none;
  color: #2E86C1;
}

#AboutUs p{
  font-weight:normal;
  font-size:1vw;
  text-align:justify
}


#linkSection{
  position: relative;
  width: 100%;
  padding-top:10vh;
  padding-bottom: 70px;
  background-color:#2E86C1;
  text-align: center;
}

#linkSection i{
  font-size: 2.6em;
  color:black;
}

#linkSection a p{
  font-size: 0.7em;
}

#linkSection a{
  text-decoration: none;
  color: black;
}

#linkSection i:hover{
  text-decoration: none;
  color: silver;
}



footer{
  width: 100%;
  background-color: black;
  color: white;
  font-weight: normal;
  text-align: center;
  padding:8px 0px;
}




@-webkit-keyframes slideAnimation {
  0%{
      left: 0%;
  }
  30%{
      left: 0%;
  }
  33%{
    left: -100%;
  }
  63%{
      left: -100%;
  }
  66%{
      left: -200%;
  }
  98%{
    left: -200%;
  }
  100%{
    left: 0%;
  }

}
